.homepage-welcome-title {
  text-align: center;
}

.homepage-welcome-titletext {
  font-family: "Cormorant Garamond";
}

.homepage-wi-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.homepage-welcome-information {
  font-family: "Cormorant Garamond";
  align-self: center;
}

.homepage-loginbutton-container,
.homepage-cabutton-container,
.homepage-getinfobutton-container,
.homepage-logoutbutton-container,
.homepage-savedaddresses-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.homepage-login-button,
.homepage-ca-button,
.homepage-getinfo-button,
.homepage-logout-button,
.homepage-gsa-button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Cormorant Garamond";
  border-radius: 5px;
}

.homepage-login-question {
  font-family: "Cormorant Garamond";
  text-align: center;
}

.homepage-ca-statement {
  font-family: "Cormorant Garamond";
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.homepage-link {
  display: block;
}
